:root {
  --gray-tag: #ececed;
  --light-gray-tag: #f2f2f2;
  --light-blue-tag: #bacee0;
  --light-blue-hover-tag: #b4c8d9;
  --yellow-tag: #ffeb33;
  --brown-tag: #3b1e1e;
  --dark-gray-tag: #1e1e1e;
  --gray-font: #b7b6b5;
}
